@import "../elements/variables";

.selected-measure {
  border: none;
  box-shadow: none;

  .panel-heading {
    border: none;
    border-radius: 0;
    background-color: $brand-secondary;
    min-height: 48px;

    .panel-title {
      color: $color-white;
      font-weight: 400;
      line-height: 27px;
    }
  }
}
