// Bootstrap Variables
$brand-primary: #4B979D;
$gray-lighter: #f2f2f2;
$btn-hover-color: #357177;
$panel-default-border: white;
$panel-default-heading-bg: $gray-lighter;
$panel-primary-border: white;
$panel-inner-border: transparent;
$border-radius-base: 0px;
$border-radius-large: 0px;
$font-family-sans-serif: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
