/* ------------------------- IMPORT VARIABLES ------------------------------ */

@import "elements/variables";

/* ------------------------- IMPORT 3RD PARTY VENDORS ---------------------- */

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

/* ------------------------- IMPORT CUSTOM FONTS --------------------------- */

@import "vendors/bootstrap3";

/* ------------------------- IMPORT CUSTOM SCSS ---------------------------- */

@import "components/header";
@import "components/measure_category";
@import "components/selected_measure";
@import "components/stats";
@import "containers/measure_display";
@import "elements/panels";
@import "patient";
@import "styles";
@import "vis";

/* ------------------------- DOM ------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding-bottom: 2em;
  overflow-x: hidden;
}

ul, a {
  text-decoration: none;
}

h1 {
  font-weight: 200;
  font-size: 3em;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}

h3 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0;
}

h4 {
  font-weight: 700;
}
