@import "variables";

/* ------------------------- COLLAPSIBLE PANEL ----------------------------- */

.collapsible-panel {
  border: 0;
  margin: 0 0 2px 0;
  box-shadow: none;

  .panel-heading {
    background-color: $brand-secondary;
    border-radius: 0;
    color: $color-white;
    height: 48px;
    line-height: 2em;
    padding: 0;

    .panel-title {
      font-size: 13px;
      font-weight: normal;
    }

    a {
      color: $color-white;
      cursor: pointer;
      display: block;
      padding: 10px 15px;
      text-decoration: none;

      i {
        font-size: 1.3em;
        line-height: 1.5em;
      }
    }
  }

  .panel-body {
    border-left: 10px solid $brand-secondary;
    margin: 0;
    padding: 0;
  }
}

.collapsible-panel.is-nested {
  .panel-heading {
    background-color: $brand-primary;
  }

  .panel-body {
    border-left: none;
  }
}
