// ------------------------- COLORS ---------------------------------------- //

$brand-primary: #20939B;
$brand-secondary: #595959;
$gray-lighter: #f2f2f2;
$btn-hover-color: darken($brand-primary, 10%);
$color-white: #FFFFFF;
$panel-default-border: $color-white;
$panel-default-heading-bg: $gray-lighter;
$panel-primary-border: $color-white;
$panel-inner-border: transparent;

// ------------------------- BOOTSTRAP VARIABLES --------------------------- //

$border-radius-base: 0px;
$border-radius-large: 0px;
$font-family-sans-serif: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;

// ------------------------- PATHS ----------------------------------------- //

$icon-font-path: '/assets/bootstrap/';
$fa-font-path: '/assets/fontawesome';
